/*#wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before{
    content: 'FOZEU';
}*/

/*li#wp-admin-bar-wp-logo{
    width: 63px!important;
}*/

/*#wp-admin-bar-wp-logo a.ab-item{
    width: 63px!important;
}*/

